<!doctype html>
<html ng-app="clientModule">
  <head>
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Clients</a>
        </li>
      </ul>
    </nav>
    <div class="container-fluid"  ng-controller="clientController">
      <div class="row mt-3">  
        <div class="col">
          <h1>Liste des clients</h1>
          <div ng-if="clients">
            <div ng-repeat="client in clients track by $index">
                Nom du client : {{ client }}
            </div>
          </div>
        </div>
      </div>

      <div class="row">
          <button ng-click="listerCategorie()" class="btn btn-success">Charger les cat&eacute;gories</button>
          <div ng-repeat="categories in categorie">
              {{ categorie }}
          </div>
      </div>

      <div class="row">
          <h1>Création d'un client</h1>
          
      </div>
    </div>
    <script src="./node_modules/angular/angular.js"></script>
    <script src="./app/app.module.js"></script>
    <script src="./app/welcome/welcome.module.js"></script>
    <script src="./app/welcome/welcome.js"></script>
    <script src="./app/js/clientModule.js"></script>
    <script src="./app/js/clientController.js"></script>
    <script src="./app/js/clientService.js"></script>
  </body>
</html>